<div class="box" [class.red-border]="isDanger" [class.yellow-background]="isWarning"></div>

<button (click)="isDanger = !isDanger">Toggle border</button>
<button (click)="isWarning = !isWarning">Toggle background</button>
<!--
  [class.ten-class]
  [class] = "array"
  [class] = "Object"
  [class] = "variable"
 -->
 <br>
 <h1>[class] = "variable"</h1>
 <div class="box" [class]="classBox"></div>
<br>
<!-- Array class -->
<div class="box" [class]="['purple-border','white-background']"></div>
<br>
<!-- Object class -->
<div class="box" [class]="{'purple-border':isDanger,'white-background': isWarning}"></div>
<!-- class name = variable -->
<!-- ------------------------------------------------------------------------------------------- -->
<!--
  [style.tenStyle]="'variable style'"
  [style.ten-style]="'variable style'"
  [style]="object"
  - size
  [style.tenStyle.unit]="number"
  [style.css-variable]

 -->
 <p [style.--text-color]="isDanger ? 'red' : 'blue'" [style]="{color: 'var(--text-color)'}">Welcome to angular!</p>
<p [style.color]="'purple'" [style.backgroundColor]="'yellow'" [style.fontSize.rem]="2">Welcome to angular!</p>
<p [style]="{color:'red', backgroundColor: 'blue', fontSize: '20px'}">Welcome to angular!</p>
