<angular-editor
  [placeholder]="'Enter text here...'"
  [(ngModel)]="htmlContent"
  [config]="config"
></angular-editor>

<h5 class="html-header">HTML Output</h5>
<div class="html">
  {{ htmlContent }}
</div>

<h2>
  <span
    ><span
      ><span><font color="#00ff4c">Th&#244;ng tin chung</font></span></span
    ></span
  >
</h2>
<ul>
  <li>
    <span
      >Th&#7901;i l&#432;&#7907;ng:&#160;162h h&#7885;c Offline t&#7841;i trung
      t&#226;m v&#224; h&#7885;c Online c&#243; h&#432;&#7899;ng d&#7851;n
      c&#7911;a mentor.</span
    >
  </li>
  <li>
    <span
      >S&#7889; l&#432;&#7907;ng h&#7885;c vi&#234;n: 15-20 h&#7885;c
      vi&#234;n/l&#7899;p</span
    >
  </li>
</ul>
<h2>
  <span
    ><span
      ><span
        ><font color="#00ff55"
          >Kh&#243;a h&#7885;c n&#224;y d&#224;nh cho ai?</font
        ></span
      ></span
    ></span
  >
</h2>
<ul>
  <li>
    <span
      >Sinh vi&#234;n ng&#224;nh CNTT mu&#7889;n h&#7885;c b&#224;i b&#7843;n
      v&#224; n&#226;ng cao k&#7929; n&#259;ng v&#7873; L&#7853;p tr&#236;nh
      Frontend v&#7899;i React.JS &#8211; m&#7897;t trong nh&#7919;ng th&#432;
      vi&#7879;n&#160;<a
        href="https://www.hostinger.vn/huong-dan/javascript-la-gi/"
        ><span>JavaScript</span></a
      >&#160;m&#7841;nh &amp; ph&#7893; bi&#7871;n nh&#7845;t do Facebook
      ph&#225;t tri&#7875;n t&#7915; 2013 v&#224; &#273;ang &#273;&#432;&#7907;c
      s&#7917; d&#7909;ng b&#7903;i h&#224;ng tr&#259;m c&#244;ng ty l&#7899;n
      tr&#234;n th&#7871; gi&#7899;i nh&#432;:&#160;<a
        href="http://netflix.com/"
        target="_blank"
        ><span>Netflix</span></a
      ><span>,&#160;</span
      ><a href="http://airbnb.com/" target="_blank"><span>Airbnb</span></a
      ><span>,&#160;</span
      ><a href="https://www.americanexpress.com/" target="_blank"
        ><span>American Express</span></a
      ><span>,&#160;</span
      ><a href="http://facebook.com/" target="_blank"><span>Facebook</span></a
      ><span>,&#160;</span
      ><a href="https://www.whatsapp.com/" target="_blank"
        ><span>WhatsApp</span></a
      ><span>,&#160;</span
      ><a href="http://ebay.com/" target="_blank"><span>eBay</span></a
      ><span>,&#160;</span
      ><a href="http://instagram.com/" target="_blank"><span>Instagram</span></a
      ><span>&#8230;</span></span
    >
  </li>
  <li>
    <span
      >L&#7853;p tr&#236;nh vi&#234;n &#273;ang l&#224;m vi&#7879;c t&#7841;i
      c&#225;c doanh nghi&#7879;p mu&#7889;n b&#7893; sung ki&#7871;n th&#7913;c
      n&#7873;n t&#7843;ng, k&#7929; n&#259;ng th&#7921;c h&#224;nh v&#7873;
      Frontend v&#224; &#273;&#7863;c bi&#7879;t l&#224; chuy&#234;n s&#226;u
      v&#7899;i React.</span
    >
  </li>
  <li>
    <span
      >H&#7885;c sinh, sinh vi&#234;n, ng&#432;&#7901;i &#273;i l&#224;m
      mu&#7889;n b&#7855;t &#273;&#7847;u t&#236;m hi&#7875;u v&#7873; l&#7853;p
      tr&#236;nh v&#224; ng&#224;nh CNTT.</span
    >
  </li>
</ul>
<h2>
  <span
    ><span
      ><span
        >T&#7841;i sao b&#7841;n n&#234;n tham gia kh&#243;a h&#7885;c
        n&#224;y?</span
      ></span
    ></span
  >
</h2>
<p>
  <span
    >Ch&#432;&#417;ng tr&#236;nh &#273;&#224;o t&#7841;o hi&#7879;n
    &#273;&#7841;i theo s&#225;t y&#234;u c&#7847;u th&#7921;c t&#7871; d&#7921;
    &#225;n, &#273;a&#803;t chu&#226;&#777;n &#8220;Global
    developer&#8221;:&#160;Ch&#7881; sau 4.5 th&#225;ng, b&#7841;n s&#7869;
    tr&#7903; th&#224;nh m&#7897;t l&#7853;p tr&#236;nh vi&#234;n
    React&#160;chuy&#234;n nghi&#7879;p.</span
  >
</p>
<ul>
  <li>
    <span
      >&#272;&#432;&#7907;c trang b&#7883; &#273;&#7847;y &#273;&#7911;
      ki&#7871;n th&#7913;c t&#7915; n&#7873;n t&#7843;ng &#273;&#7871;n
      n&#226;ng cao c&#7911;a Front-end Developer nh&#432;: JavaScript;
      HTML5/CSS3, Bootstrap 4, TypeScript, React... Kh&#244;ng nh&#7919;ng
      v&#7853;y, b&#7841;n s&#7869; &#273;&#432;&#7907;c trang b&#7883;
      &#273;&#7847;y &#273;&#7911; k&#7929; n&#259;ng c&#7847;n thi&#7871;t
      &#273;&#7875; l&#224;m vi&#7879;c &#7903; c&#225;c c&#244;ng ty
      IT/d&#7921; &#225;n to&#224;n c&#7847;u c&#361;ng nh&#432; c&#243;
      n&#7873;n t&#7843;ng t&#7889;t &#273;&#7875; thi c&#225;c ch&#7913;ng
      ch&#7881; qu&#7889;c t&#7871; v&#224; h&#7885;c c&#225;c c&#244;ng
      ngh&#7879; m&#7899;i kh&#225;c.<em>&#160;<span>(</span></em
      ><a
        href="https://fsoft-academy.edu.vn/vi/chuan-global-developer-professional-react-developer-n246"
        ><span
          ><em>Xem chi ti&#7871;t chu&#7849;n &#273;&#7847;u ra</em></span
        ></a
      ><span><em>)</em></span></span
    >
  </li>
  <li>
    <span
      >Th&#7921;c chi&#7871;n v&#7899;i chuy&#234;n gia FPT
      Software:&#160;H&#417;n 60% th&#7901;i l&#432;&#7907;ng th&#7921;c
      h&#224;nh Lab/Assignment/Mock Project, tham gia th&#7921;c chi&#7871;n
      t&#7841;i c&#225;c d&#7921; &#225;n l&#7899;n v&#7899;i &#273;&#7897;i
      ng&#361; chuy&#234;n gia c&#244;ng ngh&#7879;, gi&#7843;ng vi&#234;n,
      mentor nhi&#7873;u n&#259;m kinh nghi&#7879;m c&#7911;a FPT Software</span
    >
  </li>
  <li>
    <span
      >Cam k&#7871;t h&#7895; tr&#7907; vi&#7879;c l&#224;m sau t&#7889;t
      nghi&#7879;p:&#160;100% h&#7885;c vi&#234;n t&#7889;t nghi&#7879;p
      kh&#243;a h&#7885;c &#273;&#432;&#7907;c h&#7895; tr&#7907; t&#236;m
      ki&#7871;m vi&#7879;c l&#224;m t&#7841;i c&#225;c &#273;&#417;n v&#7883;
      ph&#7847;n m&#7873;m chi&#7871;n l&#432;&#7907;c c&#7911;a FPT Software
      v&#7899;i m&#7913;c l&#432;&#417;ng c&#7841;nh tranh, h&#7845;p
      d&#7851;n.</span
    >
  </li>
  <li>
    <span
      >C&#417; s&#7903; v&#7853;t ch&#7845;t - m&#244;i tr&#432;&#7901;ng
      chuy&#234;n nghi&#7879;p:&#160;H&#7879; th&#7889;ng gi&#7843;ng
      &#273;&#432;&#7901;ng, v&#259;n ph&#242;ng l&#224;m vi&#7879;c chu&#7849;n
      qu&#7889;c t&#7871; t&#7841;i nh&#7919;ng Campus &#273;&#7865;p v&#224;
      hi&#7879;n &#273;&#7841;i nh&#7845;t Vi&#7879;t Nam.</span
    >
  </li>
  <li>
    <span
      >Ho&#803;c b&#244;&#777;ng ta&#768;i tr&#417;&#803; h&#226;&#769;p
      d&#226;&#771;n: L&#234;n t&#7899;i&#160;ho&#803;c phi&#769; tu&#768;y
      thu&#244;&#803;c va&#768;o k&#234;&#769;t qua&#777; thi
      &#273;&#226;&#768;u va&#768;o, kh&#244;ng ha&#803;n ch&#234;&#769;
      s&#244;&#769; l&#432;&#417;&#803;ng.</span
    >
  </li>
</ul>
