<h1>List user info</h1>

<ul>
    <ng-container *ngIf="users.length > 0;else noUsers">
        <li *ngFor="let user of users; index as idx; count as total; first as isFirst; last as isLast;
        even as isEven; odd as isOdd">
           <span>{{user.id}} - {{user.name}} - {{user.phone}}</span>
           <br/>
           <span>At index: {{idx}}</span>
           <br/>
           <span>At total: {{total}}</span>
           <br/>
           <span *ngIf="isFirst">Im first</span>
           <br/>
           <span *ngIf="isLast">Im last</span>
           <br/>
           <span *ngIf="isEven">Im even</span>
           <br/>
           <span *ngIf="isOdd">Im odd</span>
        </li>
    </ng-container>
    <ng-template #noUsers>
        <h1>No User</h1>
    </ng-template>
</ul>

<button *ngFor="let tag of tags; last as isLast" [class.right-margin]="!isLast">{{tag}}</button>
